@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@mixin flexCenter() {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin allContent() {
  border-top: 2px solid $primaryColor;
  color: $primaryColor;
  letter-spacing: 4px;
}

$primaryColor: #fff;
$secondaryColor: #000;
$logoColor: #f79f1f;

$h1: 2rem;
$h2: 1.3rem;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  //   color: #fff;
}
body {
  min-height: 1000px;
}
P {
  font-weight: 300;
  color: $primaryColor;
}
.home {
  @include flexCenter();
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../images/afbeelding.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .content {
    max-width: 900px;
    text-align: center;
    h1 {
      font-size: 5rem;
      color: $primaryColor;
    }
    h2 {
      font-size: 2rem;
      color: $primaryColor;
      display: block;

      letter-spacing: 0.8rem;
    }
  }
}
.btn {
  font-size: 1rem;
  color: $primaryColor;
  background: $logoColor;
  border: 1px solid $primaryColor;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  &:hover {
    letter-spacing: 3px;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 90px;
  background: $logoColor;
  opacity: 0.8;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-bottom: 4px solid $primaryColor;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

  .logo {
    color: $primaryColor;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
  }
  .navbar {
    position: relative;
    display: flex;
    li {
      list-style: none;
      margin-left: 30px;
      a {
        text-decoration: none;
        color: $primaryColor;
        letter-spacing: 0.2rem;
        font-weight: 600;
        &:hover {
          color: #a3cb38;
          transition: 0.8s;
        }
      }
    }
  }
}
header.sticky {
  background: $logoColor;
  border-bottom: 4px solid $primaryColor;
  padding: 20px 80px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  .logo {
    color: $primaryColor;
  }
}
.gallery {
  @include allContent();
  min-height: 100vh;
  background: #2c3e50;

  .title {
    padding: 7rem 0 1rem;
  }
  .title h1 {
    text-align: center;
    font-size: $h1;
    span {
      color: $logoColor;
    }
  }
  .title h2 {
    text-align: center;
    font-size: $h2;
  }

  .content {
    // position: relative;
    width: 100%;
    @include flexCenter();
    flex-wrap: wrap;
    .box {
      padding: 10px;

      .imgBx img {
        border-radius: 8px;
        width: 500px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
.contact {
  @include allContent();
  background: #34495e;
  height: 100vh;

  .title {
    padding: 7rem 0 2rem;
    h1 {
      text-align: center;
      font-size: $h1;

      span {
        color: $logoColor;
      }
    }
  }
}
.contactContainer {
  // background: red;
  @include flexCenter();
  justify-content: space-around;
  flex-wrap: wrap;
}
.contactForm,
.contactInfo {
  padding: 75px;
  background: #2c3e50;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
  h3 {
    margin-bottom: 20px;
  }
}
.contactForm .inputBox {
  // background: red;
  // height: 30px;
  margin-bottom: 10px;
  input,
  textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    // color: #111;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
  }
  textarea {
    height: 100px;
  }
}
.contactForm .inputBox input[type="submit"] {
  color: $primaryColor;
  background: $logoColor;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}
footer {
  // z-index: 100;
  // position: fixed;
  padding: 8px 40px;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background: $logoColor;
}

@media (max-width: 991px) {
  header {
    padding: 20px 80px;
    .navbar {
      display: none;
    }
    .menuToggle {
      position: relative;
      background: url("../images/menu.png");
      width: 40px;
      height: 40px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
    .menuToggle.active {
      background: url("../images/close.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
