@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@mixin flexCenter() {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

$primaryColor: #fff;
$secondaryColor: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  //   color: #fff;
}
P {
  font-weight: 300;
  color: $primaryColor;
}
.home {
  @include flexCenter();
  position: relative;
  width: 100%;

  background: url("../images/afbeelding.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .content {
    max-width: 900px;
    text-align: center;
    h1 {
      font-size: 5rem;
      color: $primaryColor;
    }
    h2 {
      font-size: 2rem;
      color: $primaryColor;
    }
  }
}
.btn {
  font-size: 1rem;
  color: $primaryColor;
  background: #535353;
  border: 1px solid $primaryColor;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  &:hover {
    letter-spacing: 3px;
  }
}
