@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
}

P {
  font-weight: 300;
  color: #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/afbeelding.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/afbeelding.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home .content {
  max-width: 900px;
  text-align: center;
}

.home .content h1 {
  font-size: 5rem;
  color: #fff;
}

.home .content h2 {
  font-size: 2rem;
  color: #fff;
  display: block;
  letter-spacing: 0.8rem;
}

.btn {
  font-size: 1rem;
  color: #fff;
  background: #f79f1f;
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px 30px;
  margin: 50px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background: #a3cb38;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  background: #f79f1f;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 4px solid #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

header .logo:hover {
  color: #a3cb38;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar li {
  list-style: none;
  margin-left: 30px;
}

header .navbar li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

header .navbar li a:hover {
  color: #a3cb38;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header .tel-top {
  color: white;
}

header.sticky {
  background: #f79f1f;
  border-bottom: 4px solid #fff;
  padding: 20px 80px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
  color: #fff;
}

header.sticky .logo:hover {
  color: #a3cb38;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.gallery {
  border-top: 2px solid #fff;
  color: #fff;
  letter-spacing: 4px;
  min-height: 100vh;
  background: #2c3e50;
}

.gallery .title {
  padding: 7rem 0 1rem;
}

.gallery .title h1 {
  text-align: center;
  font-size: 2rem;
}

.gallery .title h1 span {
  color: #fff;
}

.gallery .title h2 {
  text-align: center;
  font-size: 1.3rem;
}

.gallery .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .content .box {
  padding: 10px;
}

.gallery .content .box .imgBx img {
  border-radius: 8px;
  width: 500px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.contact {
  border-top: 2px solid #fff;
  color: #fff;
  letter-spacing: 4px;
  background: #34495e;
  height: 100vh;
}

.contact .title {
  padding: 7rem 0 2rem;
}

.contact .title h1 {
  text-align: center;
  font-size: 2rem;
}

.contact .title h1 span {
  color: #fff;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactForm,
.contactInfo {
  padding: 25px 25px;
  background: #2c3e50;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  width: 500px;
  border-radius: 10px;
  margin: 10px 20px;
}

.contactForm h3,
.contactInfo h3 {
  margin-bottom: 20px;
}

.contactForm p,
.contactInfo p {
  letter-spacing: 0.2rem;
}

.contactForm p a,
.contactInfo p a {
  color: #fff;
  text-decoration: none;
}

.contactForm .inputBox {
  margin-bottom: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
}

.contactForm .inputBox textarea {
  height: 100px;
}

.contactForm .inputBox input[type="submit"] {
  color: #fff;
  background: #f79f1f;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.contactForm .inputBox input[type="submit"]:hover {
  background: #a3cb38;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer {
  padding: 8px 40px;
  text-align: center;
  background: #f79f1f;
}

.contactInfo .bx {
  color: #a3cb38;
}

@media (max-width: 991px) {
  header.sticky {
    padding: 10px 20px;
  }
  header {
    padding: 10px 20px;
  }
  header .navbar {
    display: none;
  }
  header .navbar.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #2c3e50;
  }
  header .navbar li a {
    color: #fff;
    font-size: 2rem;
  }
  header .menuToggle {
    position: relative;
    background: url("../images/menu.png");
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .menuToggle.active {
    background: url("../images/close.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery .content .box {
    padding: 10px;
  }
  .gallery .content .box .imgBx img {
    border-radius: 8px;
    width: 300px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  }
  .contact {
    min-height: 1000px;
  }
  .contactContainer .contactForm,
  .contactContainer .contactInfo {
    width: 400px;
  }
  .gallery .title,
  .contact .title {
    padding: 5rem 0 1rem;
  }
}
/*# sourceMappingURL=style.css.map */