@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@mixin flexCenter() {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin allContent() {
  border-top: 2px solid $primaryColor;
  color: $primaryColor;
  letter-spacing: 4px;
}

$primaryColor: #fff;
$secondaryColor: #000;
$logoColor: #f79f1f;

$h1: 2rem;
$h2: 1.3rem;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  //   color: #fff;
}
body {
  min-height: 1000px;
}
P {
  font-weight: 300;
  color: $primaryColor;
}
.home {
  @include flexCenter();
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/afbeelding.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .content {
    max-width: 900px;
    text-align: center;
    h1 {
      font-size: 5rem;
      color: $primaryColor;
    }
    h2 {
      font-size: 2rem;
      color: $primaryColor;
      display: block;

      letter-spacing: 0.8rem;
    }
  }
}
.btn {
  font-size: 1rem;
  color: $primaryColor;
  background: $logoColor;
  border: 1px solid $primaryColor;
  display: inline-block;
  padding: 10px 30px;
  margin: 20px 20px 10px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  &:hover {
    background: #a3cb38;
    transition: 0.8s;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  background: $primaryColor;
  // opacity: 0.8;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-bottom: 4px solid $primaryColor;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

  // .logo {
  //   color: $primaryColor;
  //   font-weight: 700;
  //   font-size: 2rem;
  //   text-decoration: none;
  //   &:hover {
  //     color: #a3cb38;
  //     transition: 0.8s;
  //   }
  // .logo img#logo-image {
  //   height: 50px;
  // }
  .logo {
    height: 80px;
    position: absolute;
    top: 10px;
    left: 5%;
  }
  .navbar {
    position: relative;
    display: flex;
    li {
      list-style: none;
      margin-left: 30px;
      a {
        text-transform: uppercase;

        text-decoration: none;
        color: $logoColor;
        letter-spacing: 0.2rem;
        font-weight: 600;
        &:hover {
          color: #a3cb38;
          transition: 0.8s;
        }
      }
    }
  }
  .tel-top {
    color: white;
  }
}
header.sticky {
  background: $primaryColor;
  border-bottom: 4px solid $logoColor;
  padding: 20px 80px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  // .logo {
  //   color: $primaryColor;
  //   &:hover {
  //     color: #a3cb38;
  //     transition: 0.8s;
  //   }
  // }
}
.gallery {
  @include allContent();
  min-height: 100vh;
  background: #2c3e50;

  .title {
    padding: 7rem 0 1rem;
  }
  .title h1 {
    text-align: center;
    font-size: $h1;
    span {
      color: $primaryColor;
    }
  }
  .title h2 {
    text-align: center;
    font-size: $h2;
  }

  .content {
    // position: relative;
    width: 100%;
    @include flexCenter();
    flex-wrap: wrap;
    .box {
      padding: 10px;

      .imgBx img {
        border-radius: 8px;
        width: 500px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
.contact {
  @include allContent();
  background: #34495e;
  height: 100vh;

  .title {
    padding: 7rem 0 2rem;
    h1 {
      text-align: center;
      font-size: $h1;

      span {
        color: $primaryColor;
      }
    }
  }
}
.contactContainer {
  // background: red;
  @include flexCenter();
  justify-content: space-around;
  flex-wrap: wrap;
}
.contactForm,
.contactInfo {
  padding: 25px 25px;
  background: #2c3e50;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  width: 500px;
  border-radius: 10px;
  margin: 10px 20px;

  // margin-bottom: 20px;
  h3 {
    margin-bottom: 20px;
  }
  p {
    letter-spacing: 0.2rem;
    a {
      color: $primaryColor;
      text-decoration: none;
    }
  }
}
.contactForm .inputBox {
  // background: red;
  // height: 30px;
  margin-bottom: 10px;
  input,
  textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    // color: #111;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
  }
  textarea {
    height: 100px;
  }
}
.contactForm .inputBox input[type="submit"] {
  color: $primaryColor;
  background: $logoColor;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;
  cursor: pointer;
  &:hover {
    background: #a3cb38;
    transition: 0.8s;
  }
}
footer {
  // z-index: 100;
  // position: fixed;
  padding: 8px 40px;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background: $logoColor;
}
.contactInfo .bx {
  color: #a3cb38;
}

@media (max-width: 991px) {
  header.sticky {
    padding: 10px 20px;
  }
  header {
    padding: 10px 20px;
    .navbar {
      display: none;
    }
    .navbar.active {
      width: 100%;
      height: calc(100% - 68px);
      position: fixed;
      top: 60px;
      left: 0;
      // animation: slideIn 2s forwards;

      @include flexCenter();
      flex-direction: column;
      background: #2c3e50;
    }
    .navbar li {
      margin: 20px 0;
      animation: slideIn 1s forwards;
    }
    .navbar li a {
      color: $primaryColor;
      font-size: 2rem;
    }
    //slide animation
    @-webkit-keyframes slideIn {
      0% {
        transform: translateX(-900px);
      }
      100% {
        transform: translateX(0);
      }
    }
    @-moz-keyframes slideIn {
      0% {
        transform: translateX(-900px);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes slideIn {
      0% {
        transform: translateX(-900px);
      }
      100% {
        transform: translateX(0);
      }
    }
    //end animation

    .menuToggle {
      position: relative;
      background: url("../images/menu.png");
      filter: invert(0);
      width: 40px;
      height: 40px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: 0.3s;
      top: 5px;
      left: 90%;
    }
    .menuToggle.active {
      background: url("../images/close.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .gallery .content {
    .box {
      padding: 10px;

      .imgBx img {
        border-radius: 8px;
        width: 300px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
      }
    }
  }
  .contact {
    min-height: 1000px;
  }
  .contactContainer {
    // background-color: red;
    .contactForm,
    .contactInfo {
      width: 390px;
      padding: 20px 20px;
    }
  }

  .gallery,
  .contact {
    .title {
      padding: 5rem 0 1rem;
    }
  }
}
